<h2 mat-dialog-title>
  {{ isEdit() ? 'Employee profile' : 'Add employee' }}
</h2>

<mat-dialog-content style="padding-top: 8px;">

  <!-- Name -->
  <mat-form-field appearance="outline" class="full-width" style="width: 100%;">
    <mat-label>Name</mat-label>
    <input
      matInput
      [value]="name()"
      (input)="name.set($any($event.target).value)" />
  </mat-form-field>

  <!-- Skills -->
  <mat-form-field appearance="outline" class="full-width" style="width: 100%;">
    <mat-label>Skills
        <span *ngIf="skillIds().length">
            ({{ skillIds().length }})
        </span>
    </mat-label>
    <mat-select
      multiple
      [value]="skillIds()"
      (selectionChange)="skillIds.set($event.value)">

      <mat-option
        *ngFor="let skill of dataService.skills()"
        [value]="skill.id">
        {{ skill.name }}
      </mat-option>

    </mat-select>
  </mat-form-field>

  <!-- Preview -->
  <div *ngIf="skillIds().length">
    <p><strong>Selected skills</strong></p>
    <mat-chip-set>
      <mat-chip *ngFor="let id of skillIds()">
        {{ getSkillName(id) }}
      </mat-chip>
    </mat-chip-set>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>

  <button
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="!name() || !skillIds().length">
    {{ isEdit() ? 'Save changes' : 'Add employee' }}
  </button>
</mat-dialog-actions>

